version: 2.1

jobs:
  build:
    docker:
      - image: ubuntu:22.04

    steps:
      - checkout
      - run:
          name: Install Node
          command: |
            apt install nodejs
            node -v

workflows:
  build:
    jobs:
      - build-job
