version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run: echo "Building on Ubuntu"

  test:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run: echo "Testing on Ubuntu"

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build